<table>
    <tr>
      <th>TITLE</th>
      <th>AUTHORS</th> 
      <th>DOI</th>
      <th>DATE</th>
    </tr>
    <tr>
      <td>The Human Pangenome Project: a global resource to map genomic diversity.</td>
      <td>Wang T., Antonacci-Fulton L., Howe K., et al.</td> 
      <td>10.1038/s41586-022-04601-8</td>
      <td>2022-04-20</td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td>
      <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
  </table>